{% extends "contributor/service/index/index.html" %}
{% load static %}


{% block content %}




<div class="w-dvw" id="post-filter">

    <h1 class="my-[2rem] text-center font-bold text-[3rem] ">MY POSTS</h1>

    <div class="flex flex-row justify-end items-end pt-4 w-full p-4">
        <div class="flex-none p-2">
            <button onclick="showDropdownOptions()"
                class="flex flex-row justify-between w-fit px-2 py-2 text-gray-700 bg-white border-2 border-white rounded-md shadow focus:outline-none focus:border-blue-600">
                <span class="select-none">FILTER POST (nworking)</span>

                <svg id="arrow-down" class="hidden w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
                <svg id="arrow-up" class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <div id="options" class="hidden w-48 py-2 mt-2 bg-white rounded-lg shadow-xl">
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Valid Posts</a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Pending Posts</a>
            </div>
        </div>
    </div>
    <!-- 
        <form action = "" class = "post-form" method = "GET">
            {% csrf_token %}

            <div class = "card-header">
                <header>Filter posts</header>
            </div>

            <div class = "card-body">
                <div class = "field">
                    <div class = "column">
                        <label for = "from-date">From</label> 
                            
                        <div class = "from-date">
                            <input type = "date" value = "" id = "from-date" name = "from_date" required>                            
                        </div>

                        <label for = "to-date">To</label> 

                        <div class = "to-date">
                            <input type = "date" value = "" id = "to-date" name = "to_date" required>                            
                        </div>  
                    </div>

                    <div class = "column">
                        <label for = "location">Location</label> 

                        <select name = "location" id = "location" required>
                            <option disabled selected value>Choose location</option>

                            <option value = "each_location">Each location</option>

                            {% for option in options %}
                                <option value = "{{option.id}}">{{option}}</option>
                            {% endfor %}
                        </select>

                        <label for = "post-status">Post Status</label> 

                        <select name = "post_status" id = "post-status">
                            <option disabled selected value>Choose post status</option>

                            <option value = "each_poststatus">Each post status</option>

                            {% for option in options %}
                                <option value = "{{option.id}}">{{option}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class = "button">
                    <a class = "filter-posts" type = "submit">Filter</a>
                </div>    
            </div>
        </form> -->
</div>


{% if messages %}
{% for message in messages %}
{% if message.tags == "info" %}
<script>Swal.fire({ title: "Hey!", text: "{{message}}", background: "#FFFFFF", icon: "warning", iconColor: "#154360", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#154360", customClass: { confirmButton: "info-button", title: "title" } })</script>

{% elif message.tags == "success" %}
<script>Swal.fire({ title: "Yay!", text: "{{message}}", background: "#FFFFFF", icon: "success", iconColor: "#698F3F", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#698F3F", customClass: { confirmButton: "success-button", title: "title" } })</script>

{% else %}
<script>Swal.fire({ title: "Oops!", text: "{{message}}", background: "#FFFFFF", icon: "error", iconColor: "#C90016", allowOutsideClick: false, allowEscapeKey: false, confirmButtonColor: "#C90016", customClass: { confirmButton: "error-button", title: "title" } })</script>

{% endif %}
{% endfor %}
{% endif %}

<script>
    document.querySelector(".filter-posts").onclick = function () {
        document.querySelector(".post-form").submit();
    }
</script>

<div class="w-full flex justify-start items-start">
    <h1 class="font-bold border-l-4 border-blue-600 pl-2">VALID or PENDING (nworking)</h1>
</div>

{% if results %}
<!-- <div class = "line" id = "results"></div> -->

{% for post in results %}
<div class="border-2 h-fit w-full rounded-lg mt-[2rem]" id="post-records">
    <div class="w-full ">
        <a href="{% url 'Contributor Service Post Read' post.id %}">
            <div class="flex items-center w-full gap-2 h-full p-2">
                <div>
                    <div>
                        {% for post_photo in post.post_photos.all %}
                        <img class="w-[7rem]" src="{{post_photo.post_photo.url}}">
                        {% endfor %}
                    </div>
                </div>

                <div class="w-full">
                    <h1 class="font-bold">@{{post.user | default:'None available'}}<h1>
                            <p class="font-bold ml-[2rem]">{{post.capture_date | date:'M. j, Y, g:i a' | default:'None
                                available'}}</p>
                            <p class="font-bold ml-[2rem]">{{post.location | default:'None available'}}</p>

                            <p class="text-end font-bold text-blue-600">VALID(nworking)</p>


                            <!-- <div class = "user">
                                <input type = "text" value = "" id = "user" name = "user" readonly>
                                    
                                <i class = "fa-solid fa-user"></i>
                            </div> -->

                            <!-- <label for = "capture-date">Capture Date</label> 
                                
                            <div class = "capture-date">
                                <input type = "text" value = "{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}" id = "capture-date" name = "capture_date" readonly>
                                    
                                <i class = "fa-solid fa-calendar-check"></i>
                            </div>

                            <label for = "location">Location</label> 
                                
                            <div class = "location">
                                <input type = "text" value = "{{post.location | default:'None available'}}" id = "location" name = "location" readonly>
                                    
                                <i class = "fa-solid fa-location-dot"></i>
                            </div> -->
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}

{% else %}
<!-- <div class = "line" id = "records"></div> -->

{% for post in records %}
<div class="border-2 h-fit w-full rounded-lg mt-[2rem]" id="post-records">
    <div class="w-full ">
        <a href="{% url 'Contributor Service Post Read' post.id %}">
            <div class="flex items-center w-full gap-2 h-full p-2">
                <div>
                    <div>
                        {% for post_photo in post.post_photos.all %}
                        <img class="w-[7rem]" src="{{post_photo.post_photo.url}}">
                        {% endfor %}
                    </div>
                </div>

                <div class="w-full">
                    <h1 class="font-bold">@{{post.user | default:'None available'}}<h1>
                            <p class="font-bold ml-[2rem]">{{post.capture_date | date:'M. j, Y, g:i a' | default:'None
                                available'}}</p>
                            <p class="font-bold ml-[2rem]">{{post.location | default:'None available'}}</p>

                            <p class="text-end font-bold text-blue-600">VALID(nworking)</p>


                            <!-- <div class = "user">
                                    <input type = "text" value = "" id = "user" name = "user" readonly>
                                        
                                    <i class = "fa-solid fa-user"></i>
                                </div> -->

                            <!-- <label for = "capture-date">Capture Date</label> 
                                    
                                <div class = "capture-date">
                                    <input type = "text" value = "{{post.capture_date | date:'M. j, Y, g:i a' | default:'None available'}}" id = "capture-date" name = "capture_date" readonly>
                                        
                                    <i class = "fa-solid fa-calendar-check"></i>
                                </div>

                                <label for = "location">Location</label> 
                                    
                                <div class = "location">
                                    <input type = "text" value = "{{post.location | default:'None available'}}" id = "location" name = "location" readonly>
                                        
                                    <i class = "fa-solid fa-location-dot"></i>
                                </div> -->
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="flex gap-4 mt-[5rem]">

    <div
        class=" border-2 max-w-[15rem] h-[3rem] bg-blue-500 text-white font-bold hover:bg-white hover:border-blue-600 hover:text-blue-600 text-center cursor-pointer p-2 rounded-lg">
        <a href="{% url 'Contributor Service Report' %}">Draft (wala pani ga function)</a>
    </div>

    <div
        class=" border-2 max-w-[15rem] h-[3rem] bg-blue-500 text-white font-bold hover:bg-white hover:border-blue-600 hover:text-blue-600 text-center cursor-pointer p-2 rounded-lg">
        <a href="{% url 'Contributor Service Report' %}">Create post</a>
    </div>
</div>

<script>
    function showDropdownOptions() {
        document.getElementById("options").classList.toggle("hidden");
        document.getElementById("arrow-up").classList.toggle("hidden");
        document.getElementById("arrow-down").classList.toggle("hidden");
    }
</script>

{% endblock content %}