{% extends "contributor/service/index/index.html" %}
{% load static %}

{% block content %}
    {% if intervention %}

    <div class="w-full mt-[2rem]">

        <div class="fixed inset-0 z-[-10] h-screen w-full">
            <img src="/statics/assets/bg-2.jpg" class="h-full w-full object-cover top-[-5rem]" alt="">
        </div>


        <div class="w-full flex justify-center flex-col bg-white rounded-xl p-4">
    
            <div class="flex w-full flex-col min-[450px]:flex-row min-[450px]:justify-between my-2">
                <h1 class="text-start font-bold my-2 break-words w-[18rem] text-xl min-[490px]:text-3xl">{{intervention.title | default:'None available'}}</h1>
    
                <p class="flex items-center gap-2 text-[#003755]"><i class="fa-solid fa-calendar-check"></i>{{intervention.intervention_date | date:'M. j, Y' | default:'None available'}}</p>
            </div>
    
            <p class="flex items-center gap-2 text-[#003755]"><i class="fa-solid fa-feather"></i>{{intervention.hosting_agency | default:'None available'}}</p>
    
    
    
            <p class="flex items-center gap-2 text-[#003755]"><i class = "fa-solid fa-location-dot"></i>{{intervention.location | default:'None available'}}</p>
    
            <div class="w-full flex justify-center">
                <img class="h-[90%] w-[90%] object-cover my-[2rem] block" src="{{intervention.intervention_photo.url}}">
    
            </div>
            <p class="w-full break-words">{{intervention.details | default:'None available'}}</p>
            <p class="flex items-center gap-2 font-bold my-[2rem]"><i class = "fa-solid fa-arrow-up-wide-short"></i>{{intervention.caught_amount | default:'None available'}} COTS caught.</p>
    
            <div class="w-full justify-end flex my-[2rem]">
                <div
                    class="text-center buttons cursor-pointer w-[8rem] bg-[#003755] hover:bg-white hover:border-[#003755] border-2 p-2 rounded-xl font-bold text-white hover:text-[#003755]">
                    <a class="share-intervention" target="blank">Share</a>
                </div>
            </div>
        </div>
    </div>

        <!-- <div class = "intervention">
            <div class = "card-body">
                <header>{{intervention.title | default:'None available'}}</header>

                <p><i class = "fa-solid fa-users"></i>{{intervention.hosting_agency | default:'None available'}}</p>

                <p><i class = "fa-solid fa-calendar-check"></i>{{intervention.intervention_date | date:'M. j, Y' | default:'None available'}}</p>

                <p><i class = "fa-solid fa-location-dot"></i>{{intervention.location | default:'None available'}}</p>

                <img src = "{{intervention.intervention_photo.url}}">

                <p class="break-words w-full">{{intervention.details | default:'None available'}}</p>

                <p><i class = "fa-solid fa-arrow-up-wide-short"></i>{{intervention.caught_amount | default:'None available'}} COTS caught.</p>

                <div class = "button">
                    <a class = "share-intervention" target = "blank">Share</a>
                </div>
            </div>
        </div> -->
    {% endif %}

    <script>
        {% if intervention %}
            const link = encodeURI("{{scheme}}://{{host}}{% url 'Contributor Service Intervention Read' intervention.id %}");
        
            const facebook = document.querySelector(".share-intervention");

            facebook.href = "https://www.facebook.com/share.php?u=" + link;
        {% endif %}
    </script>
{% endblock content %}